div.top{
    background-color: #404E5C;
    color: #EFF8E2;
    font-family: "Arial";
    font-size: 3.2em;
    padding: 2%
}

div.white{
    padding: 2%;
    font-family: "Arial";
    color: #404E5C
}